{% load static %}
<div class="container-fluid mt-3">

    <div class="row d-flex justify-content-center">

        <!-- Pending Requests Card Example -->
        <div class="col-x5-10 col-md-10 col-sm-12 mb-6">

            <div class="card shadow py-1 mt-3 mb-5">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-1">

                            <!-- Pending Requests Card Example -->
                            <div class="card-body">
                                <h5>Período de abertura de relatório</h5>
                                <hr>
                                <form action="{% url 'abrir_relatorio' %}" method="POST">

                                    {% csrf_token %}
                                    <div class="card border-left-success">
                                        <div class="card-body">

                                            <div class="row">

                                                <div class="col-lg-6 col-md-12">

                                                    <div class="row">
                                                        <div class="col-12">

                                                            <div class="row">
                                                                <div class="col-12">

                                                                    <label for="mes">Mês</label>
                                                                </div>

                                                                <div class="col-12">

                                                                    <select name="mesRelatorio" id="mes"
                                                                        class="form-control select-mes-relatorio">
                                                                        {% for mes in meses %}

                                                                        {% if mes.0 >= ultimoRelatorio %}
                                                                        <option value="{{mes.0}}">{{mes.1}}</option>

                                                                        {% endif %}
                                                                        {% endfor %}

                                                                    </select>

                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-12">

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="dataLimite">Data Limite</label>
                                                        </div>
                                                        <div class="col-12">
                                                            <input type="date" name="dataLimite" id="dataLimite"
                                                                class="form-control input-date-limite"
                                                                min="{{anoAtual}}-{{ultimoRelatorioFormat}}-01" required disabled title="Selecione o mês do relatório">
                                                        </div>
                                                    </div>
                                                </div>   

                                            </div>

                                            <input type="hidden" id="ano-cadastro" name="ano">

                                            <label for="" class="mt-3">Situação</label>
                                            <div class="row">
                                                <div class="col ml-2">
                                                    <div class="form-check ">
                                                        <input class="form-check-input" type="radio" value="1"
                                                            name="status" id="flexRadioDefault1" checked>
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                            Aberto
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="status"
                                                            value="2" id="flexRadioDefault2">
                                                        <label class="form-check-label" for="flexRadioDefault2">
                                                            Fechado
                                                        </label>
                                                    </div>
                                                </div>


                                            </div>

                                            <label for="Disciplinas" class="mt-3">Disciplinas</label>
                                            <div class="w-100 ">
                                                <strong>No minimo uma disciplina deve ser selecionada</strong>
                                                {% if disciplinas %}
                                                <div class="overflow-auto" style="height: 150px;">
                                                    <ul class="list-group">

                                                        {% for item in disciplinas %}
                                                        <li class="list-group-item">
                                                            <div class="custom-control custom-checkbox">
                                                                <input class="form-check-input mr-1" type="checkbox"
                                                                    id="customCheck{{item.id}}" name="disciplina"
                                                                    value="{{item.id}}">
                                                                <label
                                                                    class="cursor-pointer font-italic d-block custom-control-label text-truncate"
                                                                    for="customCheck{{item.id}}">{{item.nome}}</label>
                                                            </div>
                                                        </li>
                                                        {% endfor %}

                                                    </ul>
                                                </div>

                                                {% else %}
                                                <label for="Disciplinas" class="ml-3 mt-3">Sem disicplinas
                                                    cadastradas</label>
                                                {% endif %}


                                            </div>
                                            <div class="col text-center">
                                                <button type="submit" class="btn btn-success btn-icon-split">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-check"></i>
                                                    </span>
                                                    <span class="text">Salvar</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <hr>

                                <div class="card">
                                    <div class="card-header">
                                        <h4>Relatórios</h4>

                                    </div>
                                    <div class="card-body">

                                        {% if not relatorios %}
                                        <strong>Nenhum relatório cadastrado</strong>
                                        {% endif %}
                                        {% for item in relatorios %}

                                        <div class="row">
                                            <div class=" col-12 col-md-11">
                                                <div class="card shadow mb-1 " id="collapse">


                                                    <div class="accordion accordion-flush" id="collapse">


                                                        <div class="accordion-item">
                                                            <!-- Card Header - Accordion -->
                                                            <a href="#collapseCardExample{{item.id}}"
                                                                class="d-block  card-header py-3" data-toggle="collapse"
                                                                role="button" aria-expanded="true"
                                                                aria-controls="collapseCardExample">

                                                                <h6 class="m-0 font-weight-bold text-primary">
                                                                    {{item.data_relatorio|date:'F | Y'}}
                                                                </h6>


                                                            </a>
                                                            <!-- Card Content - Collapse -->
                                                            <div class="collapse" id="collapseCardExample{{item.id}}"
                                                                data-bs-parent="#collapse">
                                                                <div class="card-body">
                                                                    Data Limite: {{item.data_limite}}<br>
                                                                    Disciplinas:

                                                                    {% if not item.disciplina.all %}
                                                                    <strong>
                                                                        Nenhuma disciplina cadastrada.
                                                                    </strong>
                                                                    {% endif %}
                                                                    {% for disciplina in item.disciplina.all %}
                                                                    <strong>
                                                                        {{disciplina.nome}}
                                                                    </strong>
                                                                    {% endfor %}
                                                                    <br>
                                                                    Status:
                                                                    {% if item.status == 1 %}
                                                                    Aberto
                                                                    {% else %}
                                                                    Fechado
                                                                    {% endif %}
                                                                    <br>


                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-1 p-0 d-flex justify-content-center">

                                                <button class="btn p-1" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#modalEditarRelatorio{{item.id}}"
                                                    data-bs-whatever="@mdo">

                                                    <i class="bi bi-pencil-square"></i>
                                                </button>
                                                <button class="btn p-1" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#modalDeletaRelatorio{{item.id}}"
                                                    data-bs-whatever="@mdo">

                                                    <i class="bi bi-trash"></i>
                                                </button>


                                            </div>
                                        </div>

                                        {% include "partius/modais/editarRelatorioModal.html" %}
                                        {% include "partius/modais/deletarRelatorioModal.html" %}
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

<script src="{% static 'js/validaCampoData.js' %}"></script>