<div class="container-fluid mt-3">

    <div class="row d-flex justify-content-center">

        <!-- Pending Requests Card Example -->
        <div class="col-x5-10 col-md-10 col-sm-12 mb-6">
            <div class="card shadow h-100 py-1">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-1">


                            <!-- Pending Requests Card Example -->
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-4">

                                        <form action="{% url 'cadastrar_disciplina' %}" method="POST">
                                            {% csrf_token %}
                                            <h5>Disciplinas</h5>
                                            <hr>
                                            <label for="nomeDisciplina">Nome</label>
                                            <input type="text" id="nomeDisciplina" name="nome" class="form-control"
                                                placeholder="Nome da disciplina" required>

                                            <div class="row mt-2">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="row">
                                                        <div class="col">
                                                            <label for="dataInicio">Inicio da disciplina</label>

                                                        </div>
                                                    </div>
                                                    <input type="date" name="dataInicio" id="dataInicio"
                                                        class="form-control" required>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="row">
                                                        <div class="col">

                                                            <label for="dataTermino">Término da disciplina</label>
                                                        </div>

                                                    </div>
                                                    <input type="date" name="dataFim" id="dataTermino"
                                                        class="form-control" required>
                                                </div>
                                            </div>
                                            <label for="descricao" class="mt-2">Descriçao (Opcional)</label>
                                            <textarea name="descricao" id="descricao" cols="30" rows="3"
                                                class="form-control" placeholder="Ementa da disciplina"></textarea>
                                            <button type="submit" class="btn btn-success mt-4 btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                                <span class="text">Salvar disciplina</span>
                                            </button>
                                        </form>

                                        <div class="table-responsive mt-3">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Nome</th>
                                                        <th>Início</th>
                                                        <th>Término</th>
                                                        <th>Operações</th>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    {% for item in disciplinas %}
                                                    <tr>

                                                        <td>{{item.nome}}</td>
                                                        <td>{{item.data_inicio|date:"d/m/Y"}}</td>
                                                        <td>{{item.data_termino|date:"d/m/Y"}}</td>
                                                        <td class="text-center">
                                                            <!-- Default dropstart button -->
                                                            <div class="btn-group dropstart">
                                                                <button type="button"
                                                                    class="btn btn-warning btn-sm dropdown-toggle"
                                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                                    Opções
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <li class="text-center">Editar</li>
                                                                    <li class="text-center">Excluir</li>
                                                                </ul>
                                                            </div>

                                                        </td>
                                                    </tr>

                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>

                                        <hr>
                                        <h5>Período de abertura de relatório</h5>
                                        <form action="">

                                            <div class="card">
                                                <div class="card-body">

                                                    <div class="row">

                                                        <div class="col-lg-5 col-md-12">

                                                            <div class="row">
                                                                <div class="col-lg-2 col-md-12">

                                                                    <label for="mes">Mês</label>
                                                                </div>
                                                                <div class="col-lg-10 col-md-12">
                                                                    <select name="mesRelatorio" id="mes"
                                                                        class="form-control">
                                                                        <option value="">Janeiro</option>
                                                                        <option value="">Fevereiro</option>
                                                                        <option value="">maior</option>
                                                                        <option value="">Julho</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-5 col-md-12">

                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-12">
                                                                    <label for="dataLimite">Data Limite</label>
                                                                </div>
                                                                <div class="col-lg-8 col-md-12">
                                                                    <input type="date" name="dataLimite" id="dataLimite"
                                                                        class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="col-lg-2 col-md-12 d-none d-lg-flex justify-content-end">
                                                            <button class="btn mr-5 btn-success btn-circle">
                                                                <i class="fas fa-plus"></i>
                                                            </button>
                                                        </div>

                                                        <div
                                                            class="col-lg-2 col-md-12 d-flex mt-2 d-lg-none justify-content-center">
                                                            <button class="btn btn-success btn-circle">
                                                                <i class="fas fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>

                                        <hr>

                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Relatórios</h4>

                                            </div>
                                            <div class="card-body">
                                                <div class="card shadow mb-4 ">
                                                    <!-- Card Header - Accordion -->
                                                    <a href="#collapseCardExample" class="d-block  card-header py-3"
                                                        data-toggle="collapse" role="button" aria-expanded="true"
                                                        aria-controls="collapseCardExample">
                                                        <h6 class="m-0 font-weight-bold text-primary">Relatório-Janeiro
                                                        </h6>
                                                    </a>
                                                    <!-- Card Content - Collapse -->
                                                    <div class="collapse show" id="collapseCardExample">
                                                        <div class="card-body">
                                                            This is a collapsable card example using Bootstrap's built
                                                            in
                                                            collapse
                                                            functionality. <strong>Click on the card header</strong> to
                                                            see
                                                            the card body
                                                            collapse and exp
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>