{% extends 'paginas/Coordenador/ModeloCoordenador.html' %}
{% load static %}

{% block Titulo %}
    <title>Home</title>
{% endblock Titulo %}


{% comment %} Alunos  {% endcomment %}
{% block totalalunos %}
    Alunos (Bolsistas)
{% endblock totalalunos %}

{% block quantidadealunos %}
            33
{% endblock quantidadealunos %}</div>



{% comment %} Relatorios {% endcomment %}
{% block relatoriosesperados %}
    Relatórios Esperados
{% endblock relatoriosesperados %}

{% block quantidaderelatorios %}
        33
{% endblock quantidaderelatorios %}