{% extends 'modeloBase.html' %}
{% load static %}

{% block title %}
<title>Avisos</title>
{% endblock title %}

{% block pageTitle %}
<h4><i class="fa fa-paper-plane"></i> Avisos </h4>
{% endblock pageTitle %}

{% comment %} Personalizar menu, Coord/Tutor {% endcomment %}
{% block "sidebar" %}
{% include "partius/menusPersonalizados/menuAluno.html" %}
{% endblock "sidebar" %}


{% block conteudo %}


<div id="accordion">
    <div class="card border-left-primary shadow h-100 py-2 p-0" id="headingOne">
        <!-- <div class="card-header" id="headingOne"> -->
        <a class="btn m-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            <div class="row">
                <div class="col-md-10 col-12 d-flex align-items-center">

                    <h4 class="mb-0">
                        <i class="bi bi-chat-square-text-fill text-gray-400 mr-3"></i>
                        <h5 class="d-inline text-truncate">Não vai ter aula hoje</h5>
                    </h4>
                </div>
                <div class="col-md-2 col-12 text-right">
                    <em class="text-nowrap"><i class="bi bi-calendar3"></i> 15/08/2022</em>
                </div>
            </div>
        </a>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
</div>


{% endblock conteudo %}