{% extends 'modeloBase.html' %}
{% load static %}


{% block title %}
<title>Home</title>
{% endblock title %}

{% block pageTitle %}
<h4><i class="fas fa-home"></i> Home</h4>
{% endblock pageTitle %}

{% block "sidebar" %}

{% include "partius/menusPersonalizados/menuAluno.html" %}

{% endblock "sidebar" %}

{% block conteudo %}

<div class="row d-flex flex-column align-items-center">
    {% include 'partius/alerts/alerts.html' %}
    <div class="col-12 mb-2 col-md-11 d-flex justify-content-center">
        <!-- Lembrar de não deixar o usuário fazer o relatório caso não tenha submetido uma assinatura previamente -->
        <div class="row col-md-11 d-flex justify-content-center w-100">
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">

                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <!-- Quando a assinatura já foi fornecida mudar o titulo para Atualizar Assinatura -->
                                    Upload de assinatura
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-solid fa-file-image fa-3x"></i>
                            </div>

                        </div>

                        <button type="button" class="btn btn-success mt-1 btn-icon-split" type="button"
                            class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <span class="icon text-white-50">
                                <i class="fas fa-solid fa-arrow-up"></i>
                            </span>
                            <span class="text"> Upload </span>
                        </button>
                    </div>
                </div>
            </div>

            {% include "partius/modais/uploadAssinaturaModal.html" %}

            <!-- Deve se verificar existe alguma entrega de relatório agendada caso não tenha o usuário deve ser informado aqui e não página de gerar relatorios-->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">

                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Realizar Relatório
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-solid fas fa-file-word fa-3x"></i>
                            </div>

                        </div>

                        <a href="{% url 'aluno_relatorio' %}" class="btn btn-warning mt-1 btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="bi bi-pencil-square"></i>
                            </span>
                            <span class="text"> Criar Relatório </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    
    <div class="col-12 mb-5 col-md-11">

        <div class="card">
            <di class="card-header">
                <h3>Relatórios</h3>
            </di>
            <div class="card-body">
               
                <div class="accordion" id="accordionPanelsStayOpenExample">

                    {% if not documentos %}
                        Nenhum relatório foi gerado
                    {% endif %}
                    {% for documento in documentos %}

                    <div class="accordion-item mb-4">
                     
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne{{documento.id}}">


                            <button class="accordion-button collapsed p-4 text-nowrap text-truncate" type="button"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne{{documento.id}}"
                                aria-expanded="false" aria-controls="panelsStayOpen-collapseOne{{documento.id}}">
                                <div class="col-11">
                                    <div class="row">

                                        <div class="col-12 col-md-5 text-truncate">
                                            <i class="fas fa-file-signature mr-2 fs-5"></i><span>Relatório - {{documento.relatorio.data_relatorio|date:'F'}}
                                            </span>
                                        </div>

                                        <div class="col-12 col-md-7 text-left text-truncate">
                                            <!-- Nome da disciplina qui -->
                                            <em class="text-muted">
                                                {% for disciplina in documento.relatorio.disciplina.all %}
                                                    {{disciplina.nome}} 
                                                {% endfor %}
                                            </em>
                                        </div>

                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne{{documento.id}}" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingOne{{documento.id}}"
                            data-bs-parent="#accordionPanelsStayOpenExample">
                            <div class="accordion-body text-center">

                             
                                <a href="{% url 'editar_relatorio' documento.id  %}" class="btn btn-success btn-sm mb-1">
                                    <i class="fas fa-edit"></i> Editar
                                </a>
                                <a href="../../../{{documento.url_documento}}" download="" class="btn btn-primary btn-sm mb-1">
                                    <i class="fas fa-download"></i> Baixar
                                </a>
                                <button class="btn btn-danger btn-sm mb-1">
                                    <i class="fas fa-trash"></i>
                                    Excluir
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock conteudo %}


