{% extends 'modeloBase.html' %}
{% load static %}


{% block title %}
<title>Home</title>
{% endblock title %}

{% block pageTitle %}
<h4><i class="fas fa-home"></i> Home</h4>
{% endblock pageTitle %}

{% block "sidebar" %}

{% include "partius/menusPersonalizados/menuAluno.html" %}

{% endblock "sidebar" %}

{% block conteudo %}


    <div class="row d-flex flex-column align-items-center">
        <div class="col-12 mb-2 col-md-11 text-center text-md-right">
            <a href="{% url 'aluno_relatorio' %}" class="btn btn-sm btn-primary">
                <i class="fas fa-file-word"></i>
                <span>Gerar Relatório</span></a>
            </a>
        </div>
        <div class="col-12 col-md-11">
    
            <div class="card">
                <div class="card-body">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item mb-4">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button collapsed p-4 text-nowrap text-truncate" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseOne">
                                    <div class="col-11">
                                        <div class="row">
        
                                            <div class="col-12 col-md-5 text-truncate">
                                                <i class="fas fa-file-signature mr-2 fs-5"></i><span>Relatório Janeiro </span>
                                            </div>
        
                                            <div class="col-12 col-md-7 text-left text-truncate">
                                                <em class="text-muted">Framework Back-End Básico</em>
                                            </div>
        
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionPanelsStayOpenExample">
                                <div class="accordion-body text-center">
                                    <a href="" class="btn btn-success btn-sm mb-1">
                                        <i class="fas fa-edit"></i> Editar
                                    </a>
                                    <a href="" class="btn btn-primary btn-sm mb-1">
                                        <i class="fas fa-download"></i> Baixar
                                    </a>
                                    <button class="btn btn-danger btn-sm mb-1">
                                        <i class="fas fa-trash"></i>
                                        Excluir
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item mb-4">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed p-4 text-nowrap text-truncate" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                    <div class="col-11">
                                        <div class="row">
        
                                            <div class="col-12 col-md-5 text-truncate">
                                                <i class="fas fa-file-signature mr-2 fs-5"></i><span>Relatório Fevereiro </span>
                                            </div>
        
                                            <div class="col-12 col-md-7 text-left text-truncate">
                                                <em class="text-muted">Front-End Básico</em>
                                            </div>
        
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="panelsStayOpen-headingTwo" data-bs-parent="#accordionPanelsStayOpenExample">
                                <div class="accordion-body text-center">
                                    <a href="" class="btn btn-success btn-sm mb-1">
                                        <i class="fas fa-edit"></i> Editar
                                    </a>
                                    <a href="" class="btn btn-primary btn-sm mb-1">
                                        <i class="fas fa-download"></i> Baixar
                                    </a>
                                    <button class="btn btn-danger btn-sm mb-1">
                                        <i class="fas fa-trash"></i>
                                        Excluir
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item mb-4">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button class="accordion-button collapsed p-4 text-nowrap" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                                    aria-expanded="false" aria-controls="panelsStayOspen-collapseThree">
                                    <div class="col-11">
                                        <div class="row">
        
                                            <div class="col-12 col-md-5 text-truncate">
                                                <i class="fas fa-file-signature mr-2 fs-5"></i><span>Relatório Janeiro</span>
        
                                            </div>
        
                                            <div class="col-12 col-md-7 text-left text-truncate">
                                                <em class="text-muted">Framework Front End Básico</em>
                                            </div>
        
                                        </div>
                                    </div>
        
                                </button>
                            </h2>
        
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="panelsStayOpen-headingThree" data-bs-parent="#accordionPanelsStayOpenExample">
                                <div class="accordion-body text-center">
                                    <a href="" class="btn btn-success btn-sm mb-1">
                                        <i class="fas fa-edit"></i> Editar
                                    </a>
                                    <a href="" class="btn btn-primary btn-sm mb-1">
                                        <i class="fas fa-download"></i> Baixar
                                    </a>
                                    <button class="btn btn-danger btn-sm mb-1">
                                        <i class="fas fa-trash"></i>
                                        Excluir
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock conteudo %}