<div class="modal fade" id="modalDeletaUsuario{{item.id}}" tabindex="-1" aria-labelledby="modalDeletaUsuario{{item.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Deletar Usuário?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         
            <h1>{{item.nome}}</h1>

        </div>
    </div>
</div>