<div class="modal fade" id="modalDeletaRelatorio{{item.id}}" aria-labelledby="modalDeletaRelatorio{{item.id}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Excluir Relatório</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <span>Deseja deletar o relatório do mês <strong>{{item.data_relatorio|date:'F'}}</strong>?</span>
            
            </div>
            <div class="modal-footer">

                <form action="{% url 'deletar_relatorio' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <input type="hidden" name="nome" value="{{ item.data_relatorio|date:'F' }}">

                    <button type="submit" class="btn btn-success">Apagar</button>
                </form>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#modalDeletaRelatorio{{item.id}}" data-bs-whatever="@mdo">Cancelar</button>
            </div>
        </div>

    </div>
</div>