<div class="modal fade" id="modalEditarDisciplina{{item.id}}" aria-labelledby="modalEditarDisciplina{{item.id}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Editar Disciplina</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="{% url 'editar_disciplina' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{item.id}}">
                    <label for="nomeDisciplina">Nome</label>
                    <input type="text" id="nomeDisciplina" name="nome" class="form-control"
                        placeholder="Nome da disciplina" value="{{item.nome}}" required>

                    <div class="row mt-2">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <label for="dataInicio">Inicio da disciplina</label>

                                </div>
                            </div>
                            <input type="date" name="dataInicio" id="dataInicio"
                                class="form-control" value="{{item.data_inicio|date:'Y-m-d'}}" required>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col">

                                    <label for="dataTermino">Término da disciplina</label>
                                </div>

                            </div>
                            <input type="date" name="dataFim" id="dataTermino"
                                class="form-control" value="{{item.data_termino|date:'Y-m-d'}}" required>
                        </div>
                    </div>
                    <label for="descricao" class="mt-2">Descriçao (Opcional)</label>
                    <textarea name="descricao" id="descricao" cols="30" rows="3"
                        class="form-control" placeholder="Ementa da disciplina" value="{{item.descricao}}"></textarea>
                    
                    <button type="submit" class="btn btn-success mt-4 btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">Salvar</span>
                    </button>
                    <button type="button" class="btn btn-danger mt-4 btn-icon-split" data-bs-toggle="modal"
                    data-bs-target="#modalEditarDisciplina{{item.id}}" data-bs-whatever="@mdo">
                        <span class="icon text-white-50">
                            <i class="bi bi-x-lg"></i>
                        </span>
                        <span class="text">

                            Cancelar
                        </span>
                    </button>
                </form>
            

            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>